/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font-size */
    --fs-b: 14px;
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font-size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 991px) {
    :root {
        /* font-size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font-size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties                                */
/*...................................................*/
/*###################################################*/

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);

}

body {
    /* scroll spy */
    overflow-y: scroll;
}

/*###################################################*/
/*...................................................*/
/* end general properties                            */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* navbar */
/*...................................................*/
/*###################################################*/

#nav-funcional {
    background-color: #2c2f32;
}

/*###################################################*/
/*...................................................*/
/* end navbar */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* jumbotron */
/*...................................................*/
/*###################################################*/
#page-top {
    margin-bottom: 0;
}

.card-black {
    background-color: #2c2f32;
    color: #fff;
}

.title-blue {
    color: #689bd6;
}

.min-100 {
    min-height: 95vh;
}

.btn-blue {
    background-color: #4387d4;
    color: #fff;
}

.btn-orange {
    background-color: #e47f47;
    color: #fff;
}


/*###################################################*/
/*...................................................*/
/* end jumbotron */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* DEV */
/*...................................................*/
/*###################################################*/

#dev {
    background-color: #1d1f20;
    color: #fff;
}

.pleca {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    font-size: 2rem;
}

.card-body-dev-features {
    background-color: rgb(17, 16, 16);
    font-size: 0.8rem;
}

.stats {
    font-size: 1rem;
    color: rgb(165, 123, 7);
}

.footer-dev-features {
    background-color: rgb(17, 16, 16);
}

.fs-3 {
    font-size: 2.4rem;
}

/*###################################################*/
/*...................................................*/
/* end DEV */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* seminare */
/*...................................................*/
/*###################################################*/

#seminare {
    background-color: #e3eaee;
    color: #000;
}

.card-body-seminare-features {
    background-color: #f7f7f7;
    font-size: 0.8rem;
    border: none;
}

.footer-seminare-features {
    background-color: #f7f7f7;
    border: none;
}

.card-header-seminare {
    background-color: rgb(17, 16, 16);
    font-size: 0.8rem;
}

.card-seminare {
    border-color: #000;
}

/*###################################################*/
/*...................................................*/
/* end seminare */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* testimonios */
/*...................................................*/
/*###################################################*/

#testimonios {
    background-color: #1d1f20;
    color: #fff;
}

/*###################################################*/
/*...................................................*/
/* end testimonios */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* footer */
/*...................................................*/
/*###################################################*/

.default-background {

    background-color: #333333;
}

footer {
    margin-top: auto;
}

.size-logos-footer {
    width: 5rem;
    height: 5rem;
    margin: 0.8rem;
}

.footer-huin {
    width: 10 rem;
    height: 2.4rem;
    margin-left: 0.4rem;
}

.texto-footer-huin {
    font-weight: lighter;
    color: #fff;
}


/*###################################################*/
/*...................................................*/
/* end footer */
/*...................................................*/
/*###################################################*/